.jumbotron{
	background-image: url(https://www.todopaisajes.com/1920x1080/playa-en-el-paraiso.jpg);
	color: white;
	height: 150px;
	text-align: center;
	padding-top: 50px;
	margin-top: 50px;
}

.card-one{
	flex: 1 200px;
	margin-top: 10px;
}

.btn-one{
	width: 100%;
}

footer{
	margin-top: 20px;
	bottom: 0;  
	background-color: #CCCBCB;
	width: 100%;

}

.breadcrumb {
	box-shadow: 2px 2px 7px 1px #1C6EA4;
	padding: 10px;
}

.icono-footer{
	padding-right: 10px;

}
.bottom-image{
	margin-top: 15px;
}

.tab-content{
	padding-top: 30px;
}

