.jumbotron {
  background-color: #0d8012;
  color: #d4e32b;
  height: 150px;
  text-align: center;
  padding-top: 50px;
  margin-top: 50px;
  margin-bottom: 0px;
  color: #e3172f;
}
.card-one {
  flex: 1 200px;
  margin-top: 50px;
  margin-bottom: 0px;
}
.btn-one {
  width: 100%;
}
footer {
  margin-top: 20px;
  bottom: 0;
  background-color: #CCCBCB;
  width: 100%;
  margin-top: 10px;
  margin-bottom: 0px;
  color: #e3172f;
}
.breadcrumb {
  box-shadow: 2px 2px 7px 1px #1C6EA4;
  padding: 10px;
}
.icono-footer {
  padding-right: 10px;
}
.bottom-image {
  margin-top: 50px;
  margin-bottom: 0px;
}
.tab-content {
  padding-top: 30px;
}
