
$yellow: #f4ff2;

@mixin margenes($top, $bottom){
	margin-top: $top;
	margin-bottom: $bottom;
}


.jumbotron{
	background-color: $yellow; 
	color: black;
	height: 150px;
	text-align: center;
	padding-top: 50px;
	@include margenes (50px, 15px);
}

.card-one{
	flex: 1 200px;
	@include margenes (50px, 0px);
}

.btn-one{
	width: 100%;
}

footer{
	margin-top: 20px;
	bottom: 0;  
	background-color: #CCCBCB;
	width: 100%;

}

.breadcrumb {
	box-shadow: 2px 2px 7px 1px #1C6EA4;
	padding: 10px;
}

.icono-footer{
	padding-right: 10px;

}
.bottom-image{
	@include margenes (50px, 0px);
}

.tab-content{
	padding-top: 30px;
}

